#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial;
  
  color: #ca2121;
  background-color: #b16a6a;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.square {
  background-color: #e0e0e0;
  
  border: 2px solid #b6eea0;
  font-size: 40px;
  text-align: center;
  width: 100px;
  height: 100px;
  font-weight: bold;
  margin-top: -2px;
  margin-right: -2px;
  line-height: 100px;
  float: left;
  padding: 0;
  transition: background-color 0.3s ease;
}

.square:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

.winning-square {
  position: relative;
  animation: sparkle 1s infinite;
}

@keyframes sparkle {
  0%, 100% {
    box-shadow: 0 0 10px #ffd700, 0 0 20px #ffd700, 0 0 30px #44f889;
  }
  50% {
    box-shadow: 0 0 20px #ff19b2, 0 0 30px #ffec19, 0 0 40px #67eea4;
  }
}

.status {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #2980b9;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

button {
  background-color: #6a9cbd;
  border: none;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #449ad3;
}

button:focus {
  outline: none;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game-board {
  margin-bottom: 20px;
}

.game-info {
  margin-top: 20px;
  text-align: left;
}

.game-info ol {
  padding-left: 0;
  list-style: none;
}

.game-info li {
  margin-bottom: 10px;
}

.game-info button {
  width: 100%;
}

.reset-button {
  margin-top: 10px;
  background-color: #e74c3c;
}

.reset-button:hover {
  background-color: #c0392b;
}
